@import "~src/styles";

h1 {
  margin: 0;
  height: 5rem;
  font-family: "OCR-A-Std";
  font-size: 5.8rem;
  font-weight: unset;
  letter-spacing: -31px;
  background: -webkit-linear-gradient(left, $phi, $alpha);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  .inner {
    position: absolute;
    top: 33px;
    z-index: -1;
    text-shadow: 8px 8px 4px black;
  }
}
