@import "~src/styles";

div {
  margin-left: 9px;
  font-size: 14px;
  padding: 1rem;
}

.primary-section {
  border-left: 10px solid $alpha;
  background-color: $omega;
  box-shadow: 0px 4px 10px black;
  .title {
    font-size: 1.5rem;
  }
  .subtitle {
  }
}
.secondary-section {
  background-color: $epsilon;
  position: relative;
  z-index: -1;
  .description {
  }
}
