$alpha: #e6364f;
$phi: #9c1957;
$omega: #00357b;
$epsilon: #032d63;
$beta: #000810;
$delta: #071828;
$gamma: #ffffff;
$teta: #22303e;

@font-face {
  font-family: "OCR-A-Std";
  src: url("/assets/ocr-a-std-regular.ttf") format("truetype");
}

body {
  color: $gamma;
  background-image: radial-gradient($teta 15%, transparent 15%);
  background-color: $delta;
  background-position: 0 0, 50px 50px;
  background-size: 30px 30px;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 0;
}

.center-content {
  text-align: center;
}
